# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/

# SSH key
*.pem

# Docker
*.log
*.pid
*.tar
*.sock

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
